nav {
    border: 1px solid #0966c2;
    background-color: #0966c3;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline-block;
}
nav a {
    color:ghostwhite;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    display: block;
    padding: 0.5rem 1rem;
}