/* 
* {
    border: 1px solid red;
}
nav {
    border: 5px solid blue;
}
ul {
    border: 2px solid black;
}
li {
    border: 2px dotted green;
}
a {
    background-color:yellow;
}
*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav a {
    color: #00bff3;
    text-decoration: none;
    font-size: 1.5rem;
}
nav a:focus {
    background-color: #f0c808;
    color: black;
}
nav a:hover {
    color: #ff583d;
    font-weight: 600;
}