nav {
    border: 1px solid #0966c2;
    background-color: #0966c2;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline-block;
}
nav a {
    color:ghostwhite;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    display: block;
    padding: 0.5rem 1rem;
}
nav a:focus {
    background-color: whitesmoke;
    color: #0966c2
}
nav a:hover {
    color: whitesmoke;
    background-color: black;
}
.active {
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.active:hover {
    background-color: aqua;
    color: darkgreen;
}