nav {
    /*background-color: #0966c2;*/
    background-color: black;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline-block;
}
nav a {
    color:ghostwhite;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    display: block;
    padding: 0.5rem 1rem;
}
nav a:focus {
    background-color: whitesmoke;
    color: red;
}
nav a:hover {
    /*color: whitesmoke;*/
    color: red;
    /*background-color: black;
    background-color: #0966c2;*/
}
/*.active {
    color: red;
}
.active:hover {
    background-color: aqua;
    color: darkgreen;
}*/